html {
	font-size: 16px;
}

body {
	display: flex;
	flex-direction: column;
		min-height: 100vh;
		width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-style: normal;
	background: #f2d5db;
	color: #313639;
	scrollbar-width: none;
	-ms-overflow-style: none;
		-webkit-user-drag: none;
	}
	
::-webkit-scrollbar {
	display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 700;
	font-style: italic;
	color: #313639;
}

a {
	color: #4e843b;
	text-decoration: none;
}
