* {
	cursor: none;
}
html {
	font-size: 14px;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-style: normal;
	color: white;
	background-color: #131414;
	scrollbar-width: none;
	-ms-overflow-style: none;
	-webkit-user-drag: none;
}

::-webkit-scrollbar {
	display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 700;
	font-style: italic;
	color: white;
}